<!-- <p>get-files works!</p>

<div class="file-manager">
    <h1>File Manager</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>File Path</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let file of files">
                <td>{{ file.id }}</td>
                <td>{{ file.name }}</td>
                <td>
                    <a [href]="file.filePath" target="_blank">{{ file.filePath }}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">

                <div class="content-panel">
                    <div class="content-header-wrapper">
                        <h2 class="title">My Drive</h2>
                        <div class="actions">
                            <a class="btn btn-success" routerLink="/file/add-files"><i class="fa fa-plus"></i> Upload
                                New Item</a>
                            <router-outlet></router-outlet>
                            <!-- <button class="btn btn-success"><i class="fa fa-plus"></i> Upload New Item</button> -->
                        </div>
                    </div>
                    <div class="content-utilities">
                        <div class="page-nav">
                            <span class="indicator">View:</span>
                            <div class="btn-group" role="group">
                                <button class="active btn btn-default" data-toggle="tooltip" data-placement="bottom"
                                    title="" data-original-title="Grid View" id="drive-grid-toggle"><i
                                        class="fa fa-th-large"></i></button>
                                <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title=""
                                    data-original-title="List View" id="drive-list-toggle"><i
                                        class="fa fa-list-ul"></i></button>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"
                                    aria-expanded="false">All Items <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="fa fa-file"></i> Documents</a></li>
                                    <li><a href="#"><i class="fa fa-file-image-o"></i> Images</a></li>
                                    <li><a href="#"><i class="fa fa-file-video-o"></i> Media Files</a></li>
                                    <li><a href="#"><i class="fa fa-folder"></i> Folders</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button"
                                    aria-expanded="false"><i class="fa fa-filter"></i> Sorting <span
                                        class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Newest first</a></li>
                                    <li><a href="#">Oldest first</a></li>
                                </ul>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-toggle="tooltip"
                                    data-placement="bottom" title="" data-original-title="Refresh"><i
                                        class="fa fa-refresh"></i></button>
                                <button type="button" class="btn btn-default" data-toggle="tooltip"
                                    data-placement="bottom" title="" data-original-title="Archive"><i
                                        class="fa fa-archive"></i></button>

                                <button type="button" class="btn btn-default" data-toggle="tooltip"
                                    data-placement="bottom" title="" data-original-title="Report spam"><i
                                        class="fa fa-exclamation-triangle"></i></button>
                                <button type="button" class="btn btn-default" data-toggle="tooltip"
                                    data-placement="bottom" title="" data-original-title="Delete"><i
                                        class="fa fa-trash-o"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="drive-wrapper drive-grid-view">
                        <div class="grid-items-wrapper" *ngFor="let file of files">
                            <div class="drive-item module text-center">
                                <div class="drive-item-inner module-inner">
                                    <div class="drive-item-title">
                                        <p>{{ file.name }}</p>
                                    </div>
                                    <div class="drive-item-thumb">
                                        <a href="{{ 'file:///'+ file.filePath }}" alt="" target="_blank">
                                            <ng-container *ngIf="file.filePath.endsWith('.pdf'); else pdfIcon">
                                                <i class="fa fa-file-pdf-o text-danger"></i>
                                            </ng-container>
                                            <ng-template #pdfIcon>
                                                <i class="fa fa-file-text-o text-primary"></i>
                                            </ng-template>
                                        </a>
                                    </div>
                                </div>
                                <div class="drive-item-footer module-footer">
                                    <ul class="utilities list-inline">
                                        <li><a href="{{ file.filePath }}" data-toggle="tooltip" data-placement="top"
                                                title="Download"><i class="fa fa-download"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i
                                                    class="fa fa-trash"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="drive-wrapper drive-list-view">
                        <div class="table-responsive drive-items-table-wrapper">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="type"></th>
                                        <th class="name truncate">Name</th>
                                        <th class="date">FilePath</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let file of files">
                                        <td></td>
                                        <td>{{ file.name }}</td>
                                        <td>
                                            <a [href]="file.filePath" target="_blank">{{ file.filePath }}</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>