<p>Hello from ContainerComponent</p>
<div class="main">
    <app-custom-component></app-custom-component>
    <!-- <app-user></app-user> -->
    <div class="Directives">
        <h2>Directives:</h2>
        <div class="ngFor">
            <h3>ngFor</h3>
            <div *ngFor="let item of [1,3,5]">
                <p>Number is: {{ item }}</p>
            </div>
        </div>

        <div class="ngStyle">
            <div class="style">
                <h3>Ngstyle</h3>
                <div *ngFor="let p of products">
                    <div class="app-Container" [ngStyle]="{color: p.IsActive ==='true' ? 'Green': 'Red'}">
                        <div class="details">Name: {{ p.Name}}</div>
                        <div class="details">Age: {{ p.Age}}</div>
                        <div class="details">Gender:{{ p.Gender}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ngIf">
            <p>Ngif</p>
        </div>
    </div>

    <div class="child">
        <h3>Child Component</h3>
        <span>Event Binding:</span>
        <div>
            <input type="radio" name="filter" value="All" />
            <span>{{'All Courses('+all+')'}}</span>

            <input type="radio" name="filter" value="Free" />
            <span>{{'Free Courses('+free+')'}}</span>

            <input type="radio" name="filter" value="Premium" />
            <span>{{'Premium Courses('+premium+')'}}</span>
        </div>
    </div>

    <div class="TemplateReference">
        <div class="TemplateReference">
            <input type="text" #myVariable (key)="0">
            <button (click)="sayHello(myVariable)">Save</button>
            <p>{{ myVariable.value}}</p>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of productss">
                        <td>{{ p.id}}</td>
                        <td>{{ p.Name}}</td>
                        <td>{{ p.Age}}</td>
                        <td>{{ p.Gender}}</td>
                        <button (click)="selectedProducts(p.Name)">Select</button>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="selectedName">you have selected {{selectedName}}</p>
        </div>
    </div>

    <div class="View_Child">
        <div>
            <label>DOB:</label>
            <input type="date" #dobInput (blur)="CalculateAge()">
        </div>
        <div>
            <label>Age</label>
            <input type="text" #ageInput>
        </div>
    </div>

    <div class="View_Encaapsulation"></div>
</div>