<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="!hideNavbar">
  <a class="navbar-brand" routerLink="">Banking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="account/get-account">Account</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <ng-container *ngIf="IsLoggedIn; else loginBlock">
        <li class="nav-item"><a class="nav-link" (click)="UserLogout()">Logout</a></li>
      </ng-container>
      <ng-template #loginBlock>
        <li class="nav-item"><a class="nav-link" routerLink="/auth/mobile-login">MobieLogin</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/auth/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/auth/register">register</a></li>
      </ng-template>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>