<!-- <p>mobile-login works!</p> -->
<div class="login-container">
    <div class="login-form">
        <div class="login-container">
            <h2>Mobile Number Login</h2>
            <form class="login-form" [formGroup]="loginData" (ngSubmit)="onSubmit()">
                <label for="userName">MobileNumber:</label>
                <input type="text" id="mobileNumber" formControlName="mobileNumber"
                    placeholder="Enter your mobile number">
                <div *ngIf="loginData.get('mobileNumber')?.hasError('required') && loginData.get('mobileNumber')?.touched"
                    class="error-message">
                    MobileNumber is required.
                </div>
                <button type="submit" class="login-button" [disabled]="loginData.invalid">Login</button>
            </form>
        </div>
        <p class="register-link">Don't have an account? <a routerLink="/auth/register">Register</a></p>
        <router-outlet></router-outlet>
    </div>
</div>